<div class="container">
  <h1>Éléments Pédagogiques</h1>

  <form [formGroup]="elementForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="titre">Titre:</label>
      <input type="text" class="form-control" id="titre" formControlName="titre">
    </div>
    <div class="form-group">
      <label for="niveau">Niveau:</label>
      <input type="text" class="form-control" id="niveau" formControlName="niveau">
    </div>
    <div class="form-group">
      <label for="coordonnateur">Coordonnateur:</label>
      <select class="form-control" id="coordonnateur" formControlName="coordonnateur">
        <option *ngFor="let personnel of personnels" [value]="personnel.id">{{personnel.nom}} {{personnel.prenom}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="type">Type:</label>
      <input type="text" class="form-control" id="type" formControlName="type">
    </div>
    <button type="submit" class="btn btn-primary">Ajouter</button>
  </form>

  <table class="table">
    <thead>
    <tr>
      <th>Titre</th>
      <th>Niveau</th>
      <th>Coordonnateur</th>
      <th>Type</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let element of elements">
      <td>{{ element.titre }}</td>
      <td>{{ element.niveau }}</td>
      <td>{{ element.coordonnateur?.nom }} -  {{element.coordonnateur?.prenom}}</td>
      <td>{{ element.type }}</td>
      <td>
        <button class="btn btn-primary" (click)="modifierElementPedagogique(element.id)">Modifier</button>
        <button class="btn btn-danger" (click)="deleteElement(element.id)">Supprimer</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
