<div class="container mt-5">
  <div class="card shadow-lg border-0 rounded-lg">
    <div class="card-body text-center">
      <h1 class="card-title mb-4 display-4 font-weight-bold text-primary">Bienvenue chez notre Application de Planification des Examens</h1>
      <p class="card-text mb-4 lead text-muted">Vous trouvez la gestion du personnel, gestion des groupes, gestion des éléments pédagogiques, gestion des examens</p>
      <img src="assets/images/ensah.png" alt="ENSAH" class="welcome-image img-fluid rounded-circle mb-4 shadow">
      <h2 class="mb-3 font-weight-bold">Vous êtes la bienvenu chez votre université</h2>
      <h3 class="text-muted mb-4">École Nationale des Sciences Appliquées d'Al-Hoceima (ENSAH)</h3>
      <div class="nav-links d-flex justify-content-center flex-wrap">
        <a routerLink="/personnel" class="btn btn-primary mx-2 my-2">Gestion du Personnel</a>
        <a routerLink="/groupe" class="btn btn-secondary mx-2 my-2">Gestion des Groupes</a>
        <a routerLink="/element-pedagogique" class="btn btn-success mx-2 my-2">Gestion des Éléments</a>
        <a routerLink="/examen" class="btn btn-info mx-2 my-2">Gestion des Examens</a>
      </div>
    </div>
  </div>
</div>
